﻿<header>
    <h1>A Name for Yourself</h1>
</header>
<div>
    <p>
        You are finally making a name for yourself in your little corner of Keveil. Some fear you, some envy you, and some 
        pray to the all father, or to the darkness that you don't really exist. But you do exist, and those loyal to you 
        feel they can trust you to make their lives better or their wishes a reality. They will do your bidding because you 
        have made them believe in you. Their loyalty did not come free. You may have bled for some. You may have made 
        others bleed on their behalf. However it was done, they revere your name. How are you known to those that follow you?
    </p>
    <div>
        <form ng-submit="endEdit(character)">
            <div>
                <input ng-model="character.firstName" placeholder="first name or nickname"
                       ng-click="clearErrorMessage(character)" ng-disabled="item.isDone"/>
                <input ng-model="character.lastName" placeholder="family name (if any)"
                       ng-click="clearErrorMessage(character)" ng-disabled="item.isDone"/>
            </div>
            <div>
                <input ng-show="showNewCharacterSubmit()" type="submit" value="be known, {{character.firstName}} {{character.lastName}}"/>
            </div>
        </form>
    </div>
</div>