﻿<header>
    <h1>About</h1>
</header>
<!-- About page partial view -->
<div style="position: absolute; top: 20px; left:2em;">
    <a href="#/todo" class="pageLink" >Todo List</a>
</div>
<div class="logEntries">
    <p>The following events occured during this session:</p>
    <ul>
        <li data-ng-repeat="entry in logEntries | orderBy:id">
            {{entry.id}}: [{{entry.type}}] {{entry.message}}
        </li>
    </ul>
</div>