﻿<header>
    <h1 ng-show="!hasCharacter">Make a Name for Yourself</h1>
</header>
<div>
    <p>
        This is the name that the people of Keviel will come to fear or envy or speak of in only legeand if you choose to stay hidden. 
        This is the leader that the members of your domain will follow. This is the leader that others may try to kill. Who are you?
    </p>
    <form ng-submit="endEdit(character)">
        <input ng-model="character.firstName"
               data-on-blur="endEdit(character)" data-on-enter="endEdit(character)" 
               ng-click="clearErrorMessage(character)" ng-disabled="item.isDone"/>
        <input ng-model="character.lastName"
               data-on-blur="endEdit(character)" data-on-enter="endEdit(character)" 
               ng-click="clearErrorMessage(character)" ng-disabled="item.isDone"/>           
    </form>
</div>