﻿<header>
    <h1>Domain</h1>
</header>
<div style="position: absolute; top: 20px; left:2em;">
    <a href="#/todo" class="pageLink" >Todo List</a>
</div>
<article class="todoList" ng-repeat="domain in domains">
    <header>
        <form ng-submit="">
            <input ng-model="domain.name" />           
        </form>
    </header>
</article>