﻿<header>
    <h1>Game Dev Todo</h1>
</header>
<!-- TodoList page partial view -->
<div style="position: absolute; top: 20px; left:2em;">
    <a href="#/about" class="pageLink" >About</a> 
    <a ng-click="refresh()" class="pageLink" >Refresh</a>     
</div>  
   
<p class="error" data-ng-show="error">{{error}}</p>
<button data-ng-click="addTodoList()">Add Feature</button>
<br/>
<article class="todoList" ng-repeat="list in todoLists">
    <header>
        <form ng-submit="endEdit(list)">
            <input ng-model="list.title" data-selected-when="list.isEditingListTitle" 
                    ng-click="clearErrorMessage(list)" data-on-blur="endEdit(list)"/>           
        </form>
    </header>

    <a href="#" class="deletelist" ng-click="deleteTodoList(list)">X</a>

    <ul>
        <li ng-repeat="item in list.todos">
            <input type="checkbox" ng-model="item.isDone" ng-change="endEdit(item)"/>
            <input type="text" class="todoItemInput" 
                    ng-model="item.title" data-on-blur="endEdit(item)" data-on-enter="endEdit(item)" 
                    ng-click="clearErrorMessage(item)" ng-disabled="item.isDone" />
            <a ng-click="list.deleteTodo(item)">X</a>
            <p class="error" ng-show="item.errorMessage">{{item.errorMessage}}</p>
        </li>
    </ul>
    <form ng-submit="list.addTodo()">
        <input ng-model="list.newTodoTitle" class="addTodo" placeholder = "Type here to add" data-on-blur="list.addTodo()" />
    </form>
    <p class="error" ng-show="list.errorMessage">{{list.errorMessage}}</p>
</article>