﻿@model Web.Models.LoginModel
@{
    ViewBag.Title = "My Web Todo Lists";
}
@functions{
    public string GetAntiForgeryToken()
    {
        string cookieToken, formToken;
        AntiForgery.GetTokens(null, out cookieToken, out formToken);
        return cookieToken + ":" + formToken;                
    }
}

<div id="main-content" ng-app="game">
    @if (@User.Identity.IsAuthenticated)
    {
        <div ng-view></div> <!-- The SPA Views go here -->   
    }
    else
    {
        @Html.Partial("_Authentication")
    }
</div>

@if (@User.Identity.IsAuthenticated)
{
    <input id="antiForgeryToken" type="hidden" value="@GetAntiForgeryToken()" />      

    @section scripts {
        <script src="~/Scripts/underscore.min.js"></script>
        @Scripts.Render("~/bundles/angular")
        @Scripts.Render("~/bundles/breeze")
        @Scripts.Render("~/bundles/game")
    }
}