﻿<header>
    <h1>Where {{character.firstName}} {{character.lastName}} Grew Up</h1>
</header>
<div>
    <p>
        The setting in which you were born and raised will deterimine the opportunities you had.
    </p>
    <form ng-submit="endEdit(character)">
        <select ng-model="character.birthSetting" ng-options="s.key as s.display for s in birthSettings">
            <!--<option ng-repeat="birthSetting in birthSettings" value="{{birthSetting.key}}">{{birthSetting.display}}</option>-->
        </select>
        <p>{{selectedBirthSetting().description}}</p>
        <input type="submit" value="set birth setting"/>
    </form>
</div>