﻿<header>
    <h1>{{character.firstName}} {{character.lastName}} [<a href="#/character/new">edit</a>] ({{character.age()}} years old)</h1>
</header>
<div>
    <p>
        What you've done to make your name is important. It will determine how old your character is and how many
        contacts you will have outside your circle of followers.
    </p>
    <div>
        <h2>
            Growing Up<span ng-show="selectedBirthSetting() != undefined">: {{selectedBirthSetting().display}}</span>
        </h2>
        <p ng-show="selectedBirthSetting() != undefined">
            {{selectedBirthSetting().description}}
        </p>
        <a ng-show="selectedBirthSetting() == undefined" href="#/character/background/growingUp">
            Where did you grow up?
        </a>
    </div>
    
    <div ng-show="character != null && character.birthSetting != undefined && character.birthSetting != ''">
        
        <div ng-show="character != null && character.backgroundSettings != undefined && character.backgroundSettings.length > 0">
            <h2>Background Settings:</h2>
            <div ng-repeat="setting in character.backgroundSettings">
                <h3>{{setting.display}} (until age {{setting.untilAge}}) [<a href="#" ng-click="deleteBackgroundSetting(setting)">X</a>]</h3>
                <p>{{setting.description}}</p>
            </div>
            <p ng-show="!character.isBackgroundFinished">
                <a href="#" ng-click="setLastSettingAsStartingSetting()">Set '{{lastSetting().display}}' your starting setting</a><br/>
                or add another setting to your background.
            </p>
        </div>
        

        <form name="newBackgroundForm" ng-show="!character.isBackgroundFinished">
            
            <select ng-model="selectedNextSetting" ng-options="s as s.display for s in nextSettings()" />
            
            <p>{{selectedNextSetting.description}}</p>
            
            <ul class="error" ng-hide="validator.isValid()">
                <li ng-repeat="message in validator.messages">{{message}}</li>
            </ul>
            
            <input class="short" ng-change="validator.validate(character, yearsInSetting)" 
                required ng-show="selectedNextSetting != undefined" ng-model="yearsInSetting" />
            
            <button ng-click="addBackgroundSetting()" ng-show="selectedNextSetting != undefined" 
                ng-disabled="!validator.isValid()" type="submit">
                add {{selectedNextSetting.display}} as setting for {{yearsInSetting}} year(s)
            </button>

        </form>
        

        <div ng-show="character.isBackgroundFinished">
            <h2>Starting Setting: {{startingSetting().display}}</h2>
            {{startingSetting().description}}
        </div>

    </div>
</div>