﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1"/>
    <title>@ViewBag.Title  ASP.NET MVC SPA</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Styles.Render("~/Content/themes/base/css")
    <script type="text/javascript">
        var userId = '@HttpContext.Current.User.Identity.Name';
    </script>
</head>
    <body>
        <!--[if lt IE 9]><p class="error" style="clear:both;">'Breeze + Angular' requires browser support for defined properties.</p><![endif]-->
        <div id="userSettings">
            @Html.Partial("_UserSettings")
        </div>

        <div id="body">
            @RenderBody()
        </div>

        @*<footer>
            <nav>
                <ul id="menu">
                    <li>@Html.ActionLink("API", "Index", "Help", new { area = "HelpPage" }, null)</li>
                </ul>
            </nav> 
            <p>Learn more about <a href="http://www.breezejs.com/ng-spa-template?utm_source=todo" target="_blank">
                                    Breeze Single Page Applications with AngularJS</a></p>
            <p>&copy; @DateTime.Now.Year - @ViewBag.Title SPA</p>
        </footer>*@

        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/jqueryui")
        @Scripts.Render("~/bundles/ajaxlogin")
        @RenderSection("scripts", required: false)
    </body>
</html>