﻿<header>
    <h1>All Players</h1>
</header>
<div class="timeline-container">
    <div class="header player-header">Character (Player)</div>
    <div id="background-header" class="header">Backgrounds</div>
    <div style="float: left; width: 89px">Current</div>
</div>
<div class="timeline-container" ng-repeat="character in characters">
    <div class="player">{{character.firstName}} {{character.lastName}}<br/>({{character.userId}})</div>
    <div class="background-container">
        <div ng-hide="character.startingAge == oldestAge" class="setting" style="background-color: black; height: 2.5em" ng-style="character.beforeBirthWidth">&nbsp;</div>
        <div class="setting" ng-style="character.birthSettingWidth">{{character.birthSetting}}<br/>15 yrs</div>
        <div ng-repeat="setting in character.backgroundSettings" class="setting" ng-style="setting.settingWidth">
            {{setting.settingKey}}<br/>{{setting.yearsInSetting}} yrs
        </div>
        <div class="setting" style="width: 85px">{{character.startingSetting}}<br/>0 yrs</div>
    </div>
</div>