.timeline-container {
    border: 1px solid black;
    overflow: hidden;
    width: 100%;
}

.timeline-container .header {
    font-weight: bold;
}

.timeline-container .player {
    float: left;
    font-size: .5em;
    width: 185px;
}

.player-header {
    float: left;
    width: 189px;
    border-right: 1px solid black;
}

#background-header {
    float: left;
    width: 700px;
    border-right: 1px solid black;
}

.background-container {
    float: right;
    width: 791px;
}

.background-container .setting {
    float: left;
    font-size: .5em;
    overflow: hidden;
    border-left: 1px solid black;
}

table.backgrounds, table.backgrounds th, table.backgrounds td {
    width: 100%;
    border: 1px solid black;
}

.short {
    width: 30px;
}

.ng-cloak { display: none; }

.todoList {
    position: relative;
    width: 280px;
    min-height: 280px;
    display: inline-block;
    margin: 1em;
    padding-top: 8px;
    text-align: center;
    -moz-box-shadow: 10px 10px 9px rgba(0, 0, 0, 0.22);
    -webkit-box-shadow: 10px 10px 9px rgba(0, 0, 0, 0.22);
    box-shadow: 10px 10px 9px rgba(0, 0, 0, 0.22);
    background-color: #ffc;
    vertical-align: top;
}

    .todoList:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        border-width: 0 0 24px 24px;
        border-style: solid;
        border-color: #f6f6c7 #fff;
    }

    .todoList header input, .todoList header input:focus,
    .todoList ul input, .todoList ul input:focus, .addTodo {
        font-family: 'Bradley Hand ITC';
        outline: none;
    }

    .todoList header input {
        border: none;
        background: none;
        text-align: center;
        width: 95%;
        font-size: 1.8em;
    }

    .todoList ul {
        list-style: none;
        padding: 0 0 0 12px;
        margin: 0;
    }

    .addTodo {
        padding: 0;
        margin-left: 25px;
        display: block;
        color: #999;
    }

    .todoList input[type=text], .addTodo {
        width: 200px;
        border: none;
        background: none;
    }

    .todoList input[disabled] {
        color: #666;
        text-decoration: line-through;
    }

    .todoList a {
        color: silver;
        cursor: pointer;
        text-decoration: none;
        font: .8em verdana;
    }

        .todoList a.deletelist {
            position: absolute;
            top: -5px;
            right: -10px;
            background: silver;
            color: white;
            -moz-border-radius: 20px;
            -webkit-border-radius: 20px;
            border-radius: 20px;
            text-decoration: none;
            font-weight: bold;
            width: 20px;
            height: 20px;
            display: inline-block;
        }

.todoItemInput::-ms-clear {
    display: none;
}

a.pageLink {
    color: silver;
    cursor: pointer;
    margin-right: .5em;
    text-decoration: none;
}

.logEntries {
    display: inline-block;
    text-align: left;
    width: 24em; 
}
    .logEntries ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }